# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# load libs
import pandas as pd
import numpy as np

# display floats with thousands separators and 0 decimal places
pd.options.display.float_format = '{:,.0f}'.format

# define number formats
fmtComma0 = '{:,.0f}'.format
fmtComma1 = '{:,.1f}'.format
fmtDollar = '${:,.0f}'.format
fmtPercent = '{:,.1f}%'.format

# set paths
strSch = 'Resources/schools_complete.csv'
strStu = 'Resources/students_complete.csv'

# create dataframes
dfSch = pd.read_csv(strSch)
dfStu = pd.read_csv(strStu)

In [2]:
# create merged dataframe
dfMrg = pd.merge(dfStu, dfSch, how='left', on='school_name')
dfMrg

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# compute passing rates. I also prepended grade column's '9th' with a space char to assist crosstabbing later
dfMrg['reading_pass'] = dfMrg['reading_score'] > 69
dfMrg['math_pass'] = dfMrg['math_score'] > 69
dfMrg['grade'] = dfMrg['grade'].replace('9th', ' 9th')
dfMrg

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_pass,math_pass
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,True,False
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,False,True
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,True,False
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,True,False
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,True,False
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,False,True
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,True,False
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,True,False
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,False,True
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [4]:
# generate District Summary dictionary, convert it to dataframe
dictDistSumm = {'Total Schools':        dfSch['school_name'].nunique(), \
                'Total Students':       f"{dfMrg['Student ID'].nunique():,.0f}", \
                'Total Budget':         f"${dfSch['budget'].sum():,.0f}", \
                'Average Math Score':   f"{dfMrg['math_score'].mean():,.1f}", \
                'Average Reading Score':f"{dfMrg['reading_score'].mean():,.1f}", \
                '% Passing Math':       f"{(dfMrg['math_pass'].sum() / dfMrg['Student ID'].nunique() * 100):,.1f}%", \
                '% Passing Reading':    f"{(dfMrg['reading_pass'].sum() / dfMrg['Student ID'].nunique() * 100):,.1f}%", \
                'Overall Passing Rate': f"{((dfMrg['reading_score'].mean() + dfMrg['math_score'].mean()) / 2):,.1f}%"}
dfDistSumm = pd.DataFrame(dictDistSumm, index=[0])
dfDistSumm

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428",79.0,81.9,75.0%,85.8%,80.4%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [5]:
# create School-level groupby
grpSchSumm = dfMrg.groupby(['school_name', 'type'])
# create School-level dataframe. drop unneeded cols & rename the rest
dfSchSumm = grpSchSumm.nunique()
dfSchSumm = dfSchSumm[['Student ID']]
dfSchSumm.index.names = ['School Name', 'School Type']
dfSchSumm = dfSchSumm.rename(columns = {'Student ID':'Total Students'})
dfSchSumm

                                   Total Students
School Name           School Type
Bailey High School    District               4976
Cabrera High School   Charter                1858
Figueroa High School  District               2949
Ford High School      District               2739
Griffin High School   Charter                1468
Hernandez High School District               4635
Holden High School    Charter                 427
Huang High School     District               2917
Johnson High School   District               4761
Pena High School      Charter                 962
Rodriguez High School District               3999
Shelton High School   Charter                1761
Thomas High School    Charter                1635
Wilson High School    Charter                2283
Wright High School    Charter                1800

In [6]:
# append new cols
dfSchSumm['Total School Budget'] =   grpSchSumm['budget'].max()
dfSchSumm['Per Student Budget'] =    dfSchSumm['Total School Budget'] / dfSchSumm['Total Students']
dfSchSumm['Average Math Score'] =    grpSchSumm['math_score'].mean()
dfSchSumm['Average Reading Score'] = grpSchSumm['reading_score'].mean()
dfSchSumm['% Passing Math'] =        (grpSchSumm['math_pass'].sum() / grpSchSumm['Student ID'].nunique()) * 100
dfSchSumm['% Passing Reading'] =     (grpSchSumm['reading_pass'].sum() / grpSchSumm['Student ID'].nunique()) * 100
dfSchSumm['Overall Passing Rate'] =  (dfSchSumm['% Passing Math'] + dfSchSumm['% Passing Reading']) / 2
# create an unformatted copy of dfSchSumm for the 3 last 'Scores by...' exercises
dfSchSummRaw = dfSchSumm.copy(deep = True)
# format cols
dictFmts = {'Total Students': fmtComma0, 'Total School Budget':fmtDollar, 'Per Student Budget':fmtDollar, \
            'Average Math Score':fmtComma1, 'Average Reading Score':fmtComma1, '% Passing Math':fmtPercent, \
            '% Passing Reading':fmtPercent, 'Overall Passing Rate':fmtPercent}
for key, val in dictFmts.items():
    dfSchSumm[key] = dfSchSumm[key].apply(val)
dfSchSumm

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,School Type,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7%,81.9%,74.3%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,95.6%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,73.4%
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3%,79.3%,73.8%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,95.3%
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8%,80.9%,73.8%
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5%,96.3%,94.4%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,73.6%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,95.3%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,73.3%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9%,95.9%,94.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,95.2%
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3%,96.6%,95.0%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [7]:
dfSchSumm = dfSchSumm.sort_values('Overall Passing Rate', ascending = False)
dfSchSumm.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,School Type,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1%,97.0%,95.6%
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4%,97.1%,95.3%
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6%,95.9%,95.3%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3%,97.3%,95.3%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9%,96.5%,95.2%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [8]:
dfSchSumm = dfSchSumm.sort_values('Overall Passing Rate', ascending = True)
dfSchSumm.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Name,School Type,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4%,80.2%,73.3%
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0%,80.7%,73.4%
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7%,81.3%,73.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1%,81.2%,73.6%
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3%,79.3%,73.8%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
# didn't define a Series; crosstab method did the trick
dfXTabRead = pd.crosstab(dfMrg['school_name'], dfMrg['grade'], values = dfMrg['reading_score'], aggfunc = 'mean')
# format as percents with one decimal place
for val in dfXTabRead.columns:
    dfXTabRead[val] = dfXTabRead[val].apply(fmtPercent)
dfXTabRead

grade                    9th   10th   11th   12th
school_name
Bailey High School     81.3%  80.9%  80.9%  80.9%
Cabrera High School    83.7%  84.3%  83.8%  84.3%
Figueroa High School   81.2%  81.4%  80.6%  81.4%
Ford High School       80.6%  81.3%  80.4%  80.7%
Griffin High School    83.4%  83.7%  84.3%  84.0%
Hernandez High School  80.9%  80.7%  81.4%  80.9%
Holden High School     83.7%  83.3%  83.8%  84.7%
Huang High School      81.3%  81.5%  81.4%  80.3%
Johnson High School    81.3%  80.8%  80.6%  81.2%
Pena High School       83.8%  83.6%  84.3%  84.6%
Rodriguez High School  81.0%  80.6%  80.9%  80.4%
Shelton High School    84.1%  83.4%  84.4%  82.8%
Thomas High School     83.7%  84.3%  83.6%  83.8%
Wilson High School     83.9%  84.0%  83.8%  84.3%
Wright High School     83.8%  83.8%  84.2%  84.1%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [10]:
dfXTabMath = pd.crosstab(dfMrg['school_name'], dfMrg['grade'], values = dfMrg['math_score'], aggfunc = 'mean')
for val in dfXTabMath.columns:
    dfXTabMath[val] = dfXTabMath[val].apply(fmtPercent)
dfXTabMath

grade                    9th   10th   11th   12th
school_name
Bailey High School     77.1%  77.0%  77.5%  76.5%
Cabrera High School    83.1%  83.2%  82.8%  83.3%
Figueroa High School   76.4%  76.5%  76.9%  77.2%
Ford High School       77.4%  77.7%  76.9%  76.2%
Griffin High School    82.0%  84.2%  83.8%  83.4%
Hernandez High School  77.4%  77.3%  77.1%  77.2%
Holden High School     83.8%  83.4%  85.0%  82.9%
Huang High School      77.0%  75.9%  76.4%  77.2%
Johnson High School    77.2%  76.7%  77.5%  76.9%
Pena High School       83.6%  83.4%  84.3%  84.1%
Rodriguez High School  76.9%  76.6%  76.4%  77.7%
Shelton High School    83.4%  82.9%  83.4%  83.8%
Thomas High School     83.6%  83.1%  83.5%  83.5%
Wilson High School     83.1%  83.7%  83.2%  83.0%
Wright High School     83.3%  84.0%  83.8%  83.6%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [11]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 630, 650, 1000000]
group_names = ['Per-Student Budgets 1-4 (<$585)', 'Per-Student Budgets 5-8 (<$630)', \
               'Per-Student Budgets 9-12 (<$650)', 'Per-Student Budgets 13-15 ($650+)']

In [12]:
# get the unformatted dfSchSummRaw created previously. add cols for wtd avgs
dfSchSummRaw['Wtd Math Numerator'] = dfSchSummRaw['Total Students'] * dfSchSummRaw['Average Math Score']
dfSchSummRaw['Wtd Reading Numerator'] = dfSchSummRaw['Total Students'] * dfSchSummRaw['Average Reading Score']
dfSchSummRaw['Wtd Math Pass Numerator'] = dfSchSummRaw['Total Students'] * dfSchSummRaw['% Passing Math']
dfSchSummRaw['Wtd Reading Pass Numerator'] = dfSchSummRaw['Total Students'] * dfSchSummRaw['% Passing Reading']
dfSchSummRaw['Wtd Overall Pass Numerator'] = dfSchSummRaw['Total Students'] * dfSchSummRaw['Overall Passing Rate']
# bin it, group it
dfSchSummRaw['Budget Quartile'] = pd.cut(dfSchSummRaw['Per Student Budget'], spending_bins, labels=group_names)
grpSchSpend = dfSchSummRaw.groupby(['Budget Quartile'], as_index = False)
dfSchSpend = grpSchSpend.sum()
# drop unneeded cols from new dataframe
dfSchSpend = dfSchSpend[['Total Students', 'Wtd Math Numerator', 'Wtd Reading Numerator', \
                         'Wtd Math Pass Numerator', 'Wtd Reading Pass Numerator', 'Wtd Overall Pass Numerator']]
dfSchSpend

,Total Students,Wtd Math Numerator,Wtd Reading Numerator,Wtd Math Pass Numerator,Wtd Reading Pass Numerator,Wtd Overall Pass Numerator
0,6368,"530,856","534,683","596,700","615,700","606,200"
1,9167,"733,203","754,560","725,200","811,400","768,300"
2,16083,"1,248,032","1,305,971","1,114,100","1,321,900","1,218,000"
3,7552,"581,766","611,941","501,000","612,000","556,500"

In [13]:
# compute weighted average scores & percentages
dfSchSpend['Average Math Score'] = dfSchSpend['Wtd Math Numerator'] / dfSchSpend['Total Students']
dfSchSpend['Average Reading Score'] = dfSchSpend['Wtd Reading Numerator'] / dfSchSpend['Total Students']
dfSchSpend['% Passing Math'] = dfSchSpend['Wtd Math Pass Numerator'] / dfSchSpend['Total Students']
dfSchSpend['% Passing Reading'] = dfSchSpend['Wtd Reading Pass Numerator'] / dfSchSpend['Total Students']
dfSchSpend['Overall Passing Rate'] = dfSchSpend['Wtd Overall Pass Numerator'] / dfSchSpend['Total Students']

In [14]:
# drop unneeded average-weighting cols
dfSchSpend = dfSchSpend[['Average Math Score', 'Average Reading Score', '% Passing Math', \
                         '% Passing Reading', 'Overall Passing Rate']]

In [15]:
# define the column-formatter we'll use foor the last three exercises:
def formatCols(df):
    dictFmts = {'Average Math Score':fmtComma1, 'Average Reading Score':fmtComma1, \
                '% Passing Math':fmtPercent, '% Passing Reading':fmtPercent, 'Overall Passing Rate':fmtPercent}    
    for key, val in dictFmts.items():
        df[key] = df[key].apply(val)
    return

In [16]:
formatCols(dfSchSpend)
dfSchSpend

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,83.4,84.0,93.7%,96.7%,95.2%
1,80.0,82.3,79.1%,88.5%,83.8%
2,77.6,81.2,69.3%,82.2%,75.7%
3,77.0,81.0,66.3%,81.0%,73.7%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [17]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1750, 2500, 4000, 1000000]
group_names = ['Headcounts 1-4 (<1,750)', 'Headcounts 5-8 (<2,500)', \
               'Headcounts 9-12 (<4,000)', 'Headcounts 13-15 (4,000+)']

In [18]:
# bin it, group it
dfSchSummRaw['Headcount Quartile'] = pd.cut(dfSchSummRaw['Total Students'], size_bins, labels=group_names)
grpSchSize = dfSchSummRaw.groupby(['Headcount Quartile'])
dfSchSize = grpSchSize.sum()
# drop unneeded cols from new dataframe
dfSchSize = dfSchSize[['Total Students', 'Wtd Math Numerator', 'Wtd Reading Numerator', \
                       'Wtd Math Pass Numerator', 'Wtd Reading Pass Numerator', 'Wtd Overall Pass Numerator']]
dfSchSize

,Total Students,Wtd Math Numerator,Wtd Reading Numerator,Wtd Math Pass Numerator,Wtd Reading Pass Numerator,Wtd Overall Pass Numerator
Headcount Quartile,,,,,,
"Headcounts 1-4 (<1,750)",4492,"375,187","376,776","420,100","435,100","427,600"
"Headcounts 5-8 (<2,500)",7702,"641,868","646,335","722,500","743,400","732,950"
"Headcounts 9-12 (<4,000)",12604,"968,229","1,020,207","838,700","1,013,300","926,000"
"Headcounts 13-15 (4,000+)",14372,"1,108,573","1,163,837","955,700","1,169,200","1,062,450"

In [19]:
# compute weighted average scores & percentages
dfSchSize['Average Math Score'] = dfSchSize['Wtd Math Numerator'] / dfSchSize['Total Students']
dfSchSize['Average Reading Score'] = dfSchSize['Wtd Reading Numerator'] / dfSchSize['Total Students']
dfSchSize['% Passing Math'] = dfSchSize['Wtd Math Pass Numerator'] / dfSchSize['Total Students']
dfSchSize['% Passing Reading'] = dfSchSize['Wtd Reading Pass Numerator'] / dfSchSize['Total Students']
dfSchSize['Overall Passing Rate'] = dfSchSize['Wtd Overall Pass Numerator'] / dfSchSize['Total Students']
# drop unneeded average-weighting cols
dfSchSize = dfSchSize[['Average Math Score', 'Average Reading Score', '% Passing Math', \
                       '% Passing Reading', 'Overall Passing Rate']]
# format cols
formatCols(dfSchSize)
dfSchSize

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Headcount Quartile,,,,,
"Headcounts 1-4 (<1,750)",83.5,83.9,93.5%,96.9%,95.2%
"Headcounts 5-8 (<2,500)",83.3,83.9,93.8%,96.5%,95.2%
"Headcounts 9-12 (<4,000)",76.8,80.9,66.5%,80.4%,73.5%
"Headcounts 13-15 (4,000+)",77.1,81.0,66.5%,81.4%,73.9%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
# bin it, group it
grpSchType = dfSchSummRaw.groupby(['School Type'])
dfSchType = grpSchType.sum()
# drop unneeded cols from new dataframe
dfSchType = dfSchType[['Total Students', 'Wtd Math Numerator', 'Wtd Reading Numerator', \
                       'Wtd Math Pass Numerator', 'Wtd Reading Pass Numerator', 'Wtd Overall Pass Numerator']]
dfSchType

,Total Students,Wtd Math Numerator,Wtd Reading Numerator,Wtd Math Pass Numerator,Wtd Reading Pass Numerator,Wtd Overall Pass Numerator
School Type,,,,,,
Charter,12194,"1,017,055","1,023,111","1,142,600","1,178,500","1,160,550"
District,26976,"2,076,802","2,184,044","1,794,400","2,182,500","1,988,450"

In [21]:
# compute weighted average scores & percentages
dfSchType['Average Math Score'] = dfSchType['Wtd Math Numerator'] / dfSchType['Total Students']
dfSchType['Average Reading Score'] = dfSchType['Wtd Reading Numerator'] / dfSchType['Total Students']
dfSchType['% Passing Math'] = dfSchType['Wtd Math Pass Numerator'] / dfSchType['Total Students']
dfSchType['% Passing Reading'] = dfSchType['Wtd Reading Pass Numerator'] / dfSchType['Total Students']
dfSchType['Overall Passing Rate'] = dfSchType['Wtd Overall Pass Numerator'] / dfSchType['Total Students']
# drop unneeded average-weighting cols
dfSchType = dfSchType[['Average Math Score', 'Average Reading Score', '% Passing Math', \
                       '% Passing Reading', 'Overall Passing Rate']]
# format cols
formatCols(dfSchType)
dfSchType

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.4,83.9,93.7%,96.6%,95.2%
District,77.0,81.0,66.5%,80.9%,73.7%